[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
bandit = "*"
black = {extras = ["jupyter"], version = "*"}
django = "*"
django-extensions = "*"
django-filter = "~=2.4"
django-stubs = "*"
djangorestframework = "*"
djangorestframework-stubs = "*"
faker = "*"
flake8 = "*"
gunicorn = "*"
ipdb = "*"
ipython = "*"
isort = "*"
jupyter = "*"
more-itertools = "*"
mypy = "*"
psycopg2-binary = "*"
pytest = "*"
pytest-django = "*"
sentry-sdk = "*"
tqdm = "*"
pygraphviz = "*"

[requires]
python_version = "3.10"
